<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
        <section>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-xl text-center">
            <div class="mx-auto inline-flex rounded-full bg-gray-100 px-4 py-1.5">
            
        <!----comment--------------------------------------------------------------------------------------------------->
            </div>
            <h2 class="mt-6 text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl">
                Chatlearn helps you build your Vocabulary.
            </h2>
            <p class="mt-4 text-base leading-relaxed text-gray-600">
                Don't just speak, communicate with confidence
            </p>
            </div>
            <div class="mt-12 grid grid-cols-1 gap-y-8 text-center sm:grid-cols-2 sm:gap-12 lg:grid-cols-4">
            <div>
                <div class="mx-auto flex h-20 w-20 items-center justify-center rounded-full bg-gray-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-9 w-9 text-gray-700"
                >
                    <line x1="12" y1="2" x2="12" y2="22"></line>
                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                </svg>
                </div>
                <h3 class="mt-8 text-lg font-semibold text-black"><a href="http://127.0.0.1:5500/services/word/templates/word.html" target="word.html">Word of the day</a></h3>
                <p class="mt-4 text-sm text-gray-600">
                Embark upon this day as a traveler of possibility, where every moment unfolds a new chapter of wonder and growth.
                </p>
            </div>
            <div>
                <div class="mx-auto flex h-20 w-20 items-center justify-center rounded-full bg-gray-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-9 w-9 text-gray-700"
                >
                    <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
                </svg>
                </div>
                <h3 class="mt-8 text-lg font-semibold text-black">
                <a href="http://127.0.0.1:5500/services/quiz/quiz.html" target="quiz.html">Quiz</a>
                </h3>
                <p class="mt-4 text-sm text-gray-600">
                In the melody of life, every question is a note waiting to harmonize with the rhythm of our curiosity.
                </p>
            </div>
            <div>
                <div class="mx-auto flex h-20 w-20 items-center justify-center rounded-full bg-gray-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-9 w-9 text-gray-700"
                >
                    <path d="M12 3a6.364 6.364 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
                </svg>
                </div>
                <h3 class="mt-8 text-lg font-semibold text-black">
                <a href="http://127.0.0.1:5500/services/Syno&Anto/synonyms_antonyms.html" target="synonyms_antonyms.html">Synonyms and Antonyms</a>
                </h3>
                <p class="mt-4 text-sm text-gray-600">
                In a symphony of language, synonyms dance harmoniously, while antonyms stand in elegant contrast, together painting the vibrant tapestry of expression
                </p>
            </div>
            <div>
                <div class="mx-auto flex h-20 w-20 items-center justify-center rounded-full bg-gray-100">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-9 w-9 text-gray-700"
                >
                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                </svg>
                </div>
                <h3 class="mt-8 text-lg font-semibold text-black"><a href="http://127.0.0.1:5001" target="checker.html">Pronounce my word</a></h3>
                <p class="mt-4 text-sm text-gray-600">
                Like the gentle whisper of the wind through autumn leaves, your word dances gracefully upon the ears, enchanting all who hear its melody.
                </p>
            </div>
            </div>
        </div>
        </section>


</body>
</html>